@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-background;
    @apply text-primary;
    @apply text-base;
    @apply min-h-screen
  }

  main {
    @apply flex;
    @apply flex-col;
    @apply gap-8;
    @apply justify-center;
    @apply w-full;
    @apply bg-background;
    @apply z-10;
    @apply px-16;
  }

  main> :not(header):not(footer):not(#header-xIcon-Container) {
    @apply gap-8;
  }

  .sectionTitle {
    @apply uppercase;
    @apply break-words;
    @apply font-bold;
    @apply text-md;
    @apply leading-none;
    @apply tracking-wide;
    @apply font-bold;
    @apply italic;
  }

  .sectionTitle_outline {
    @apply font-bold;
    @apply text-md;
    @apply leading-none;
    @apply tracking-wide;
    @apply font-bold;
    @apply italic;

    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #eee;
  }

  section {
    @apply gap-8;
    @apply my-8;
  }
}